body{
margin:0;
background:#ffdff2;
color:#6a1b9a;
text-align:center;
font-family:"Bahnschrift","Bierstadt",sans-serif;
}

header{
background:#d8b4fe;
padding:20px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

header h1{
margin:0;
font-size:40px;
}

nav{
margin:20px;
}

button{
padding:10px 20px;
margin:5px;
border:none;
border-radius:10px;
cursor:pointer;
background:#c084fc;
color:white;
font-size:16px;
}

button:hover{
background:#a855f7;
}

#inicio{
margin-top:120px;
}

#inicio h2{
font-size:50px;
}

#inicio p{
font-size:22px;
}

.contenido{
display:none;
background:white;
width:85%;
margin:20px auto;
padding:20px;
border-radius:15px;
color:#6a1b9a;
box-shadow:0 0 15px rgba(0,0,0,0.2);
}

img{
width:250px;
height:auto;
border-radius:10px;
margin:15px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#d8b4fe;
color:#4a148c;
padding:15px;
}

td{
border:1px solid #d8b4fe;
padding:15px;
cursor:pointer;
}

td:hover{
background:#f3e8ff;
}

.ejemplo{
display:none;
margin-top:15px;
padding:15px;
background:#fdf4ff;
border-left:5px solid #c084fc;
}

form{
text-align:left;
width:80%;
margin:auto;
}

form p{
font-weight:bold;
}

input[type="radio"]{
margin:8px;
}

#progreso{
margin:20px;
font-size:20px;
font-weight:bold;
}

#resultado{
margin-top:20px;
padding:15px;
background:#f3e8ff;
border-radius:10px;
}

#ultimoResultado{
margin-top:20px;
padding:15px;
background:#fce7f3;
border-radius:10px;
}